// helpers
$g-0: #ffffff;
$g-999: #000000;

// Main color
$default-color: #333333;

// Border Color
$border-base: #dcdfe6;

// Font
$mainFont: Montserrat;

// Size
$mainFontColor: $default-color;
$mainFontSize: 18px;
$mainFontWeight: 400;
$mainLineHeight: 1.4;

$lgDesktopWidth: 1400px;
$desktopWidth: 1280px;
$smDesktopWidth: 1024px;
$tableWidth: 768px;
$smTableWidth: 640px;
$phoneWidth: 480px;
$smPhoneWidth: 320px;
